@import url( "ratchet.min.css" );

body.nice {
    background-color: #ffcd34;
}

#navbar {
    letter-spacing: .1em;

    background-color: #ffcd34;
    text-shadow: 0 0 4px #000;
}

h1 {
    color: white !important;
}

#btn-search {
    color: white !important;
    text-shadow: 0 0 4px #000 !important;
}

#debug {
    padding: 2%;
}

#app {
    position: relative;

    height: 100%;
    margin: 0 2%;
}

#app-title {
    text-align: center;

    color: #fff;
    text-shadow: 0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25);
}

#search-container {
    position: absolute;
    top: 20%;

    width: 100%;

    letter-spacing: .1em;
}

#search-container > * {
    margin-bottom: 5%;
}

#search-container .btn {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}

#search-container p {
    text-align: center;

    color: white !important;
    text-shadow: 0 0 4px #000;
}

#search-bar {
    padding: 5% 3%;
}

#result-container {
    margin-top: 59px;
}
